@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.root {
    --primary-color:#FBBF24
    ;
    --secondary-color: #EDE9FE;

}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}

.container {
    padding: 0rem 1rem;

}

.container-center {
    max-width: 600px;
    margin: auto;
    padding: 1rem 1rem;
    text-align: center;
}

.section {
    padding: 2rem;
    text-align: center;
    background-color:#FBBF24
    ;
}

.button {
    padding: 1rem 1rem;
    margin: 0px;

}

.ow {
    background-color: #EDE9FE;
    ;
}